---
type: {{ kind }}
id: {{ kind }}.{{ slug }}
status: draft
---

# {{ title }}

## Assumption

TODO

## Risk Type

TODO

## Test

TODO

## Success / Failure Signal

TODO

## Decision It Informs

TODO
