---
type: {{ kind }}
id: {{ kind }}.{{ slug }}
name: {{ title }}
starts: YYYY-MM-DD
ends: YYYY-MM-DD
---

# {{ title }}

## Strategic Pillars

- TODO

## Adoption

TODO

## Not Now

- TODO

## Near-Term Outcome

TODO
